---
import { Image } from "astro:assets";
const { urlImage, title, link, description, tools } = Astro.props;

---
<article class="bg-slate-200 dark:bg-slate-950 rounded-t-xl transition-all ease-in hover:shadow-lg max-w-sm mx-auto">
	<a href={link} target="_blank"
		class="object-cover"
	>
		<Image
			src={urlImage}
			alt={title}
			class="object-cover w-auto rounded-t-xl"
		/>
		<div class="p-4">
			<h2 class="text-xl">{title}</h2>
			<hr class="my-2 border-slate-500 dark:border-slate-700">
			<p class="text-xs md:text-sm">{description}</p>
			<hr class="my-2 border-slate-500 dark:border-slate-700">
			{
				tools ?
				<ul>
					{tools.map((tool: string)=>(
						<li class="text-xs md:text-sm">{tool}</li>
						))}
						</ul> :
						<></>
					}
	</div>
	</a>
</article>